# Ignore logs folder in current directory
logs/
# Ignore all .log files in the current directory and subdirectories
bin
*.txt
obj
.vscode
# user login, in production verify with AD user, but in Dev, UAT not verify
out
.vs